{% extends 'base.html' %}
{% block content %}

{% for number in list_of_numbers %}
<p>{{ number }}</p>
{% endfor %}


    <h2>{{ page_title }}</h2>
    <p>
    ‘Resurrection: Ertugrul’ is an epic story rooted in the historical events 
    of Anatolia (modern-day Turkey). It is the tale of a daring character with 
    enthralling love and a sense of justice that was strong enough to change the 
    fate of the World. The nomadic Kayi tribe of the Oghuz Turks are on a quest 
    to find a place they can finally call home. Ertugrul, the leader of the tribe, 
    leads his people through perseverance against hardship while striving for 
    justice and maintaining the traditions of the land. By battling his enemies 
    with strength and bravery, Ertugrul consequently plants the seed that would 
    lead to the founding of the Ottoman Empire, which had spread across three 
    continents and ruled for six centuries.
    </p>

{% for member in company%}

    <div class="row featurette">
{% if loop.index % 2 != 0 %}

    <div class="col-md-7">
    <h3>{{ loop.index}} {{ member.name }}</h3>
    <p>
{{ member.description }}
    </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image image-responsive" src="{{ member.image_source }}" 
        alt="Image Here">
    </div>

{% else %}
    <div class="col-md-5">
        <img class="featurette-image image-responsive" src="{{ member.image_source }}" 
        alt="Image Here">
    </div>
    <div class="col-md-7">
    <h3>{{ loop.index}} {{ member.name }}</h3>
    <p>
{{ member.description }}
    </p>
    </div>

{% endif %}

</div>

{% if loop.index != 4 %}
<hr class="featurette-divider">

{% endif %}

{% endfor %}
{% endblock %}
